<!DOCTYPE html>

<html>
<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="styleSheet" href="/css/styles.css">
    
</head>

<body>
    <div class="main-content">
        {{>header}} 

        <form>
            <input placeholder="Location" >
            <button >Search</button>
        </form>
        <p id="number1"></p>
        <p id="number2"></p>
    </div>
    {{>footer}}
    <script src="/js/app.js"></script>
</body>
</html>